* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

body {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: larger;
}

/* HEADER */

header {
    min-height: 100vh;
    background-image:url("img/test-bg2.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

header>h1 {
    margin: 1em;
}

header>h3 {
    margin-bottom: 0.5em;
}

header>p {
    margin-top: 0.5em;
}

header a {
    background-color: green;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1em;

}

/* INTRO */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro p {
    max-width: 50%;
    transition: max-width 1s;
}

/* PICTURES */
.pictures {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 30vh;

}

.picture {
    background-size: cover;
}

.one {
    background-image: url(./img/1.jpg);
}

.two {
    background-image: url(./img/2.jpg);
}
.three {
    background-image: url(./img/3.jpg);
}
.four {
    background-image: url(./img/4.jpg);
}
/* PROGRAM!!! */

.program {   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.program>h2 {
    margin-top: 3em;
}

.program>div {
    max-width: 50%;
    transition: max-width 1s;
}

.program>div>h3 {
    margin-top: 2em;
}

.program>div>p {
    margin-top: 1em;
}

.program>div>p:last-child {
    margin-bottom: 4em;
}

/* INFO */

.info {
    background-color: rgb(97, 174, 90);
    min-height: 110vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 50%;
}

/* KANSKE TA BORT DENNA */
.text-map {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr;
    max-width: 100%;
}
/* DENNA ^^^^^^ */

.text {
    justify-self: center;
    max-width: 50%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formbtn {
    text-decoration: none;
    font-size: 32px;
    color: white;
    background-color: rgb(67, 95, 55);
    border: 5px solid rgb(237, 237, 106);
    border-radius: 10px;
    justify-self: center;
    max-width: 10em;
    place-content: center;
    padding:0.5em;
    transition: background-color 0.3s;
}

.formbtn:hover {
    background-color: rgb(106, 149, 88);
    transition: background-color 0.3s;
}

.maps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.maps>h3 {
    margin-top: 1em;
}

.map iframe{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 10px 10px 0px black;
}

@media (max-width: 900px){
    .intro>p {
        max-width: 70%;
        transition: max-width 1s;
    }

    .program>div {
        max-width: 90%;
        transition: max-width 1s;
    }

    .pictures {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 10vh;
    
    }
    
}
