:root {
    --maincolor: rgba(20, 88, 165, 1);
    --darkercolor: rgba(9, 57, 112, 1);
    --secondcolor: #f9f871;
    --thirdcolor: #00cba7;
    --shadow: rgba(0, 0, 0, 0.3)
}

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

body {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: larger;
}

/* HEADER */

header {
    min-height: 100vh;
    background-image:url("./img/bg2.svg");
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

header>h1 {
    font-size: 70px ;
    margin-bottom: 2rem;
}

header>h3 {
    font-size: 45px;
    font-weight: 200;
    margin: 1rem;
}

header>p {
    margin-top: 2rem;
}

header a {
    border-radius: 10px;
    padding: 1em;

}

/* INTRO */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro>h2 {
    margin-top:3em;
}

.intro>p {
    margin-top: 1em;
    margin-bottom: 3em;
    text-align: center;
    line-height: 1.5em;
    max-width: 50%;
    transition: max-width 1s;
}

/* PICTURES */
.pictures {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 30vh;

}

.picture {
    background-size: cover;
}

.one {
    background-image: url(./img/1.jpg);
}

.two {
    background-image: url(./img/2.jpg);
}
.three {
    background-image: url(./img/3.jpg);
}
.four {
    background-image: url(./img/4.jpg);
}
/* PROGRAM!!! */

.program {   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.program>h2 {
    margin-top: 3em;
}

.program>div {
    max-width: 50%;
    transition: max-width 1s;
}

.program>div>h3 {
    margin-top: 2em;

}

.program>div>p {
    margin-top: 1em;
}

.program>div>p:last-child {
    margin-bottom: 4em;
}

/* INFO */

.info {
    color: white;
    background-color: var(--maincolor);
    min-height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* KANSKE TA BORT DENNA */
.text-map {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
}
/* DENNA ^^^^^^ */

.text {
    max-width: 30%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text>h3 {
    margin-bottom: 1em;
}

.maps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

.maps>h3 {
    margin-top: 1em;
}

.map iframe{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 5px 0px var(--shadow);
    transition: 0.2s;
    
    &:hover{
        box-shadow: 0px 8px 0px -2px var(--shadow);
        transform: translateY(-3px);
        scale: 102%;
    }
}

.info>a {
    margin-top: 3em;
}

.formbtn {
    text-decoration: none;
    font-size: 32px;
    color: rgb(0, 0, 0);
    background-color: var(--secondcolor);
    border-radius: 10px;
    box-shadow: 0px 5px 0px var(--shadow);
    max-width: 10em;
    max-height: 3em;
    padding:0.5em;
    transition:0.1s;
}

.formbtn:hover {
    background-color: var(--thirdcolor);
    box-shadow: 0px 8px 0px -2px var(--shadow);
    transform: translateY(-3px);
    scale: 102%;
}

/* FOOTER */

footer {
    background-color: var(--thirdcolor);
    display: flex;
    justify-content: center;
}

@media (max-width: 900px){
    .intro>p {
        max-width: 70%;
        transition: max-width 1s;
        
    }

    .program>div {
        max-width: 90%;
        transition: max-width 1s;
    }

    .pictures {
        grid-template-rows: 10vh;
    
    }

    .text-map {
        flex-direction: column;
    }

    .text {
        max-width: 90%;
    }
    
}

/* FORMULÄR */

.body-form {
    background-image: url(./img/bg2.svg);
    color: white;
    accent-color: var(--secondcolor);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-form>a {
    text-decoration: none;
    color: black;
    position: fixed;
    left: 0;
    top: 0;
    margin: 2em;

}

form {
    background-color: rgba(9, 57, 112, 1);
    border: 5px solid rgb(255, 138, 55);
    border-radius: 10px;
    box-shadow: 10px 10px 0px black;
    min-height: 90vh;
    max-width: 90vw;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    border: 2px solid black;
}
